<style>
.myButton {
	background-color:#333;
	-moz-border-radius:12px;
	-webkit-border-radius:12px;
	border-radius:12px;
	border:1px solid #fff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	width:150px;
	padding:10px 10px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
	position:relative;
}
.myButton:hover {
	background-color:#166C8E;
}
.myButton:active {
	position:relative;
	top:1px;
}
</style>


<button class="myButton" id="close_create_template">CANCEL</button>
<br><br>
<button class="myButton" id="back_create_template" style="display:none">CANCEL/BACK</button>
<br><br>
<button class="myButton" id="create_template_nextStep" style="display:none">LAST STEP >></button>
		
