
  <link rel="stylesheet" href="jquery.bxslider/jquery.bxslider.css">

  <script src="jquery.bxslider/jquery.min.js"></script>
  <script src="jquery-ui.min.js"></script>
  <script src="jquery.bxslider/jquery.bxslider.js"></script>




<script type="text/javascript">
$(document).ready(function(){
  $('.slider1').bxSlider({
    slideWidth: 200,
    minSlides: 2,
    maxSlides: 100,
    slideMargin: 10
  });
});
</script>

<div class="slider1">
  <div class="slide"><img src="http://placehold.it/350x150&text=ASSET"></div>
  <div class="slide"><img src="http://placehold.it/350x150&text=SHOTS"></div>
  <div class="slide">BANK</div>
  <div class="slide"><img src="http://placehold.it/350x150&text=FooBar4"></div>
  <div class="slide"><img src="http://placehold.it/350x150&text=FooBar5"></div>
  <div class="slide"><img src="http://placehold.it/350x150&text=FooBar6"></div>
  <div class="slide"><img src="http://placehold.it/350x150&text=FooBar7"></div>
  <div class="slide"><img src="http://placehold.it/350x150&text=FooBar8"></div>
  <div class="slide"><img src="http://placehold.it/350x150&text=FooBar9"></div>
  <div class="slide"><img src="http://placehold.it/350x150&text=FooBar10"></div>
  <div class="slide"><img src="http://placehold.it/350x150&text=FooBar11"></div>
</div>
